.row
	.columns.bottom-line.desktop-12.black-bg
		h1 162 Games
	.columns.desktop-6.mlb-red-bg
		.row
			.columns.bottom-line.desktop-12
				h1 American League
				each division in ['East', 'Central', 'West']
					.columns.desktop-4
						.row
							.columns.bottom-line.desktop-12
								h2 #{division}
							.columns.bottom-line.desktop-12
								each team in teams.filter(t => t.division === division && t.conference === 'American')
									.teamname(class=team.team_id) #{team.first_name}
	.columns.desktop-6.mlb-blue-bg
		.row
			.columns.bottom-line.desktop-12
				h1 National League
				each division in ['East', 'Central', 'West']
					.columns.desktop-4
						.row
							.columns.bottom-line.desktop-12
								h2 #{division}
							.columns.bottom-line.desktop-12
								each team in teams.filter(t => t.division === division && t.conference === 'National')
									.teamname(class=team.team_id) #{team.first_name}
.spacer
.row
	.columns.desktop-12
		.chart-holder
			canvas#chart
