.container
	.row
		.columns.bottom-line.desktop-12.black-bg
			h1 162 Games
			p Select a team or teams to highlight their metrics in the charts below.
		.columns.desktop-6.mlb-red-bg
			.row
				.columns.bottom-line.desktop-12
					h1 American League
					each division in ['East', 'Central', 'West']
						.columns.desktop-4.border-1LR
							.row
								.columns.bottom-line.desktop-12.no-pad-top
									h3 #{division}
									each team in teams.filter(t => t.division === division && t.conference === 'American')
										.teamname(class=team.team_id teamId=team.abbreviation) #{team.first_name}
		.columns.desktop-6.mlb-blue-bg
			.row
				.columns.bottom-line.desktop-12
					h1 National League
					each division in ['East', 'Central', 'West']
						.columns.desktop-4.border-1LR
							.row
								.columns.bottom-line.desktop-12.no-pad-top
									h3 #{division}
									each team in teams.filter(t => t.division === division && t.conference === 'National')
										.teamname(class=team.team_id teamId=team.abbreviation) #{team.first_name}
		.columns.desktop-12.grey-bg
			h3.align-center Team Win/Loss
			.chart-holder
				canvas#chart
		.columns.desktop-6
			h3.align-center Hitting
			.row
				.columns.desktop-2.grey-bg
					h6 HRs
				.columns.desktop-2
					h6 RUNS
				.columns.desktop-2
					h6 AVG
				.columns.desktop-2
					h6 SB
				.columns.desktop-2
					h6 SB%
				.columns.desktop-2
					h6 SLG%
			.chart-holder
				p PLACE CHART HERE
		.columns.desktop-6.no-pad-LR
			h3.align-center Pitching
			.row
				.columns.desktop-2.grey-bg
					h6 ERA
				.columns.desktop-2
					h6 WHIP
				.columns.desktop-2
					h6 Ks
				.columns.desktop-2
					h6 K/9
				.columns.desktop-2
					h6 BB/9
				.columns.desktop-2
					h6 AST
			.chart-holder.grey-bg
				p PLACE CHART HERE