.container
	.row
		.columns.bottom-line.desktop-12
			.spacer
			h1 162 Games
			h6 Select teams to highlight their metrics in the charts below.
		.columns.desktop-6
			.row
				.columns.bottom-line.desktop-12.mlb-red-bg
					h1 American League
					each division in ['East', 'Central', 'West']
						.columns.desktop-4.border-1LR
							h3 #{division}
							.row.no-bg
								.columns.bottom-line.desktop-12.no-pad-top
									each team in teams.filter(t => t.division === division && t.conference === 'American')
										.teamname.clickable(class=team.team_id teamId=team.abbreviation)  #{team.first_name}
		.columns.desktop-6
			.row
				.columns.bottom-line.desktop-12.mlb-blue-bg
					h1 National League
					each division in ['East', 'Central', 'West']
						.columns.desktop-4.border-1LR
							h3 #{division}
							.row.no-bg
								.columns.bottom-line.desktop-12.no-pad-top
									each team in teams.filter(t => t.division === division && t.conference === 'National')
										.teamname.clickable(class=team.team_id teamId=team.abbreviation) #{team.first_name}
		.columns.desktop-12
			.spacer
			h3.align-center Team Win/Loss
			.chart-holder
				#chart
			.spacer
		.columns.desktop-6
			h3.align-center Hitting
			.row.no-marg
				.columns.desktop-2
					h4.active-chart.pick-chart-hitting.clickable(chart='homeruns') HRs
				.columns.desktop-2
					h4.pick-chart-hitting.clickable(chart='runs') RUNS
				.columns.desktop-2
					h4.pick-chart-hitting.clickable(chart='runsPm') RUN+/-
				.columns.desktop-2
					h4.pick-chart-hitting.clickable(chart='averages') AVG
				.columns.desktop-2
					h4.pick-chart-hitting.clickable(chart='stolenBases') SB
				.columns.desktop-2
					h4 SLG%
				.columns.desktop-12
					.chart-holder
						#hitting-chart
		.columns.desktop-6.no-pad-LR
			h3.align-center Pitching
			.row.no-marg
				.columns.desktop-2
					h4.pick-chart-pitching.clickable ERA
				.columns.desktop-2
					h4.pick-chart-pitching.clickable WHIP
				.columns.desktop-2
					h4.pick-chart-pitching.clickable(chart='strikeouts') Ks
				.columns.desktop-2
					h4.pick-chart-pitching.clickable K/9
				.columns.desktop-2
					h4.pick-chart-pitching.clickable BB/9
				.columns.desktop-2
					h4.pick-chart-pitching.clickable(chart='strikeouts') ERR
				.columns.desktop-12
					.chart-holder
						#pitching-chart
		.spacer